<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Pokédex | Home</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>

  <% if(message !="" ) { %>
    <section id="message">
      <p>
        <%= message %>
      </p> <span id="close">&times;</span>
    </section>
    <% } %>

<header class="topnav">
  <nav>
      <a href="/">Home</a>
      <a href="/Database">New Pokémon</a>
  </nav>
</header>

<main>
<section class = "Container-Cards">
      <% Pokedex.forEach((item, id)=> { %>
          <div class="Card">    
              <a class="NoneLink" href="/pokeview/<%=id%>">
                 <p class="fonts" ><%= item.Nome%> </p>
                  <img src="<%= item.Image %>" height="180" width="180" />
                 <p class = "fonts"> Type: <%= item.Tipo%> </p
               </a>
            </div>
       <% }) %>
 </section>
 </main>

<script type="text/javascript" src="js/script.js"></script>
</body>

</html>