<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Pokémon</title>
    <link rel="stylesheet" href="css/style-View.css" />
  </head>

  <header class="topnav">
    <div>
      <nav class="topnav">
        <a href="/">Home</a>
      </nav>
    </div>
  </header>

  <body>
    <main>
      <Section>
        <div class="pokeFig">
          <img src="<%= pokemon.Image %>" height="180" width="180" />
        </div>
      </Section>

      <Section>
        <div class="poke">
          <p class="poke">Number: <%= pokemon.Numero%></p>
          <p class="poke">Name: <%= pokemon.Nome%></p>
          <p class="poke">Type: <%= pokemon.Tipo%></p>
          <p class="poke">Summary: <%= pokemon.Descricao%></p>
          <p class="poke">Height: <%= pokemon.Altura%> meters</p>
          <p class="poke">Weight: <%= pokemon.Peso%> Kg</p>
          <p class="poke">Category: <%= pokemon.Categoria%></p>
          <p class="poke">Abilities: <%= pokemon.Habilidade%></p>
        </div>
      </Section>
    </main>
  </body>
</html>
